
#heroName {
}

#heroInfo {
    margin-top: 20pt;
    padding: 20pt 30pt;
    /* width: max-content;
    max-width: 600pt; */
    border-style: solid;
    border-width: 2;
    border-color: grey;
    border-radius: 8pt;
}
